@charset "utf-8";

/*content 배너부터 시작하기 .pg :100vw / pg_wrap 너비 1250px;*/
/*figure :690px ; btn :80px */
.pg { width: 100%; clear:both; }
.pg_wrap { width: 1250px; margin: 0 auto;}
.pg1 div.left { width: 770px; float:left; }
ul.ban_tap { width: 80px; float: left; }
ul.ban_tap li { width: 100%; height:175px; box-sizing: border-box; padding-top: 15px; background-color: #feeaeb;  position: relative; clear:both; }


ul.ban_tap li:after { content:""; display: block; width: 31px; height: 49px;  background-image: url("../main_ico/main/ban_btn_after.png");position:absolute; top: 50%; left: 80px; margin-top: -24px; z-index: 80; display: none; }
ul.ban_tap li.on { background-color: #ffcccc; } 
ul.ban_tap li.on:after{ display: block; }


ul.ban_tap li span { display: block; width: 40px; height: 40px;margin: 0 auto; text-indent: -99999px; margin-top:50%; background-color: #fff; border-radius: 25px;  }
ul.ban_tap li:first-child span.img { background-image: url("../main_ico/main/new_icon.png"); }
ul.ban_tap li:last-child span.img { background-image: url("../main_ico/main/join_icon.png");}

ul.ban_tap li button { display: block; width: 100%;  text-align: center; background-color: transparent; font-size: 15px; font-weight: 800; }

/*슬라이드 배너*/
.ban_box { position:relative; }
.ban_box li.ban { width: 690px; height:350px; float: left; position:absolute; top: 0; left: 80px;  display:none }
.ban_box li.ban.on { display:block; }
.ban_box .vs_box { width:690px; height:350px; overflow: hidden; } 
.ban_box  .vs_box .vs { width: 4830px; height: 350px; }
.ban_box .vs_box .vs li { width: 690px; height: 350px;  background-repeat:no-repeat; float:left; text-indent: -99999px; background-size:100% 100%; background-position: center center; position: relative; }


/*배너 이미지*/
.ban_box  .vs_box .vs .vs_lst1 { background-image: url("../banner/ban_banner/news/ban01.jpg");}
.ban_box  .vs_box .vs .vs_lst2{ background-image: url("../banner/ban_banner/news/ban02.jpg");}
.ban_box  .vs_box .vs .vs_lst3{ background-image: url("../banner/ban_banner/news/ban03.jpg");}
.ban_box  .vs_box .vs .vs_lst4{ background-image: url("../banner/ban_banner/news/ban04.jpg");}
.ban_box .vs_box .vs .vs_lst5{ background-image: url("../banner/ban_banner/news/ban05.jpg");}
.ban_box .vs_box .vs .vs_lst6{ background-image: url("../banner/ban_banner/news/ban06.jpg");}
.ban_box .vs_box .vs .vs_lst7{ background-image: url("../banner/ban_banner/news/ban07.jpg");}

.ban_box  .vs_box .vs .vs_lst01 { background-image: url("../banner/ban_banner/join/ban_join01.jpg");}
.ban_box  .vs_box .vs .vs_lst02{ background-image: url("../banner/ban_banner/join/ban_join02.jpg");}
.ban_box  .vs_box .vs .vs_lst03{ background-image: url("../banner/ban_banner/join/ban_join03.jpg");}
.ban_box  .vs_box .vs .vs_lst04{ background-image: url("../banner/ban_banner/join/ban_join04.jpg");}
.ban_box .vs_box .vs .vs_lst05{ background-image: url("../banner/ban_banner/join/ban_join05.jpg");}
.ban_box .vs_box .vs .vs_lst06{ background-image: url("../banner/ban_banner/join/ban_join06.jpg");}
.ban_box .vs_box .vs .vs_lst07{ background-image: url("../banner/ban_banner/join/ban_join07.jpg");}

.ban_box .ban { position: relative; width: 960px; height: 350px; clear: both; }
.ban_box .ban .btn_box { position: absolute; bottom: 0px; left: 0px;  width: 690px; z-index: 88; height:40px; background-color: rgba(0,0,0,0.6);}
.ban_box .ban .btn_box li { width: 30px; height: 30px; float:right; text-indent: -99999px; margin-top: 5px;}

.ban_box .ban .btn_box li.next { background-image: url("../main_ico/main/right_arr.png"); }
.ban_box .ban .btn_box li.play { background-image: url("../main_ico/main/play.png"); }
.ban_box .ban .btn_box li.prev { background-image: url("../main_ico/main/left_arr.png"); }


/*코로나 배너 오른쪽*/

.pg1 .pg_wrap .right { width: 440px; float:  left; }
.pg1 .pg_wrap .corona { width: 100%; margin-left: 40px; clear:both;   }
.pg1 .pg_wrap .corona li.bg { height:208px; height:350px; background-color:#fbd884;}
.pg1 .pg_wrap .corona li.bg .co_box a { display: block; width: 200px; height: 40px; background-color: rgba(0,0,0,0.7); color: #fff; line-height: 40px; text-align: center; border-radius: 3px; margin: 0 auto;} 
.pg1 .pg_wrap .corona li.bg > h2 { width: 90%; margin: 0 auto; line-height: 3.0; height:71.11px; }
.pg1 .pg_wrap .corona li.bg  .s_txt { font-size: 15px; }
.pg1 .pg_wrap .corona .co_box { width: 100%; height: calc( 360px - 71.11px); }
.pg1 .pg_wrap .corona .co_box ul { width: 95%; height: 40%; margin: 0 auto; }
.pg1 .pg_wrap .corona .co_box ul li {  float: left; text-align: center; border-radius: 10px; margin-left: 1%}


.pg1 .pg_wrap .corona .co_box ul.co_01 li.tc1{ background-color: #d79701; width: 49%;}
.pg1 .pg_wrap .corona .co_box ul.co_01 li.tc2 { background-color: #fec02f; width: 49%;}

.pg1 .pg_wrap .corona .co_box ul.co_02 li.tc1 { background-color: #ffcc33; width: 55%;}
.pg1 .pg_wrap .corona .co_box ul.co_02 li.tc2 { background-color: #ffcc66;width: 43%;}


.pg1 .pg_wrap .corona .co_box ul li span { display: block; color:#fff; font-weight: 600;  font-size: 20px; line-height: 3.0; }
.pg1 .pg_wrap .corona .co_box ul.co_01 li span.bt { position: relative;  }
.pg1 .pg_wrap .corona .co_box ul.co_02 li span.bt { position: relative;  }

.pg1 .pg_wrap .corona .co_box ul.co_01 li  span.bt:after { content: ""; display: block;  width: 180px; height: 2px; position:absolute; background-color: #fff; top: 54px; left:15px; z-index: 88; }
.pg1 .pg_wrap .corona .co_box ul.co_02 li.tc1 span.bt:after { content: ""; display: block;  width: 200px; height: 2px; position:absolute; background-color: #fff; top: 54px; left:15px; z-index: 88; }
.pg1 .pg_wrap .corona .co_box ul.co_02 li.tc2 span.bt:after { content: ""; display: block;  width: 150px; height: 2px; position:absolute; background-color: #fff; top: 54px; left:15px; z-index: 88; }

.pg1 .pg_wrap .corona .co_box ul li span.com { font-size: 19px; height: 46px; line-height: 46px; }

/*pg2 부분 */
.pg2 .pg_wrap .tit_lst { width: 100%; height: 43px; padding-top: 70px ;border-bottom: 2px solid #ececec; padding-bottom: 20px}
.pg2 .pg_wrap .tit_lst li { width: 50%; float: left; line-height: 43px; }
.pg2 .pg_wrap .tit_lst li p.tit {  font-size: 30px; font-weight: 600; }
.pg2 .pg_wrap .tit_lst li a.all_site { display: block; float: right; width: 130px; border:1px solid #ececec;  position:relative; box-sizing: border-box; padding-left: 20px}
.pg2 .pg_wrap .tit_lst li a.all_site:after { content:""; display: block; width: 6px; height: 11px; background-image: url("../main_ico/main/pg2_all_site.png"); position: absolute; right: 18px; top: 17px;}

.pg2 .pg_wrap .ico_lst1 { width: 100%; }
.pg2 .pg_wrap .ico_lst1 li { width: 100px; margin-right:13px ; float:left; height:102px;  padding-bottom: 50px; padding: 30px 0; }


.pg2 .pg_wrap .ico_lst1 li a { display: block; width: 100px; height: 110px; border: 1px solid transparent; border-radius:30px; margin: 0 auto; }
.pg2 .pg_wrap .ico_lst1 li a:hover { background-color: #0051a3; border:2px solid #fff;   }

.pg2 .pg_wrap .ico_lst1 li a:hover span.itxt { color: #fff ;  }

.pg2 .pg_wrap .ico_lst1 li a  span:first-child { display: block; width: 55px; height: 53px; background-position: center center; background-size: contain; background-repeat: no-repeat;  text-indent: -9999px; margin: 10px auto; }

.pg2 .pg_wrap .ico_lst1 li a  span:last-child { display: block; width: 100px; height: 30px; margin: 0 auto;  text-align: center ; color:#000; font-size: 15px}

.pg2 .pg_wrap .ico_lst1 li span.pic1 { background-image: url("../main_ico/page01_ico/01.minwon.png");  }
.pg2 .pg_wrap .ico_lst1 li span.pic2 { background-image: url("../main_ico/page01_ico/02.group.png");  }
.pg2 .pg_wrap .ico_lst1 li span.pic3 { background-image: url("../main_ico/page01_ico/03.survey.png");  }
.pg2 .pg_wrap .ico_lst1 li span.pic4 { background-image: url("../main_ico/page01_ico/news_s.png");  }
.pg2 .pg_wrap .ico_lst1 li span.pic5 { background-image: url("../main_ico/page01_ico/07.labor_1.png");  }
.pg2 .pg_wrap .ico_lst1 li span.pic6 { background-image: url("../main_ico/page01_ico/traffic.png");  }
.pg2 .pg_wrap .ico_lst1 li span.pic7 { background-image: url("../main_ico/page01_ico/map.png"); }
.pg2 .pg_wrap .ico_lst1 li span.pic8 { background-image: url("../main_ico/page01_ico/10.test.png");  }
.pg2 .pg_wrap .ico_lst1 li span.pic9 { background-image: url("../main_ico/page01_ico/11.jop.png");   }
.pg2 .pg_wrap .ico_lst1 li span.pic10 { background-image: url("../main_ico/page01_ico/09.library.png"); }
.pg2 .pg_wrap .ico_lst1 li span.pic11 { background-image: url("../main_ico/page01_ico/05.data.png");  }


/*pg3*/
.pg3 ul.full { width: 100%; height: 130px; background-color: #ffe9e1; }
/* 아이콘 3개 정해서 넣기 */
/* 높이 잡아주기*/
.pg3 .pg_wrap section { width: 385px; height:270px;  float:left; margin-right: 40px; overflow: hidden; } 
/*마진 오른쪽 넓혀주기 */
.pg3 .pg_wrap section .t_hd { width: 100%; border-bottom: 2px solid #ddd; height: 60px; }
.pg3 .pg_wrap section h2.tit { width: 70%;  height: 60px; line-height: 60px; float: left;  }
.pg3 .pg_wrap section a.more { display: block; width: 25%; height: 35px; line-height: 35px; float: left; text-align: right; margin-top: 12.5px; color:#000; }
.pg3 .pg_wrap section .tb  { width: 100%; }

.pg3 .pg_wrap section .tb { display: table; border-collapse: collapse; width: 380px; }

.pg3 .pg_wrap section .tb tr { display: table-row ; }
.pg3 .pg_wrap section .tb td { display: table-cell ;  line-height: 40px; height: 40px; }

.pg3 .pg_wrap section .tb td.cel1  a { display: block ;width:300px  ; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #000; }
.pg3 .pg_wrap section .tb td.cel1  a:hover { color: #0051a3 ; text-decoration: underline; }
.pg3 .pg_wrap section .tb td.cel2 { width:60px; font-size: 13px; }

/*경기도소리 부분*/
.pg3 .pg_wrap section.gg_box { width: 360px; }
.gg_box .gg_wrap { width:100%; height: 100%;  }
.gg_box .gg_wrap h2.tit {  line-height: 60px; height: 60px; box-sizing: border-box; padding-left: 30px; padding-bottom: 2px }
.gg_box .gg_wrap .gg_lst { width:86%; margin: 0 auto;  }
.gg_box .gg_wrap .gg_lst li { width:95%;  margin-bottom: 10px; margin-left: 8px } 
.gg_box .gg_wrap .gg_lst li a { display: block;  height: 40px; line-height: 40px;  background-color: #a07715; box-sizing: border-box; padding-left: 10px; color: #fff; font-size: 19px; position: relative; font-weight: 500}
.gg_box .gg_wrap .gg_lst li a:after { content:""; display: block; width: 40px; height: 40px; position: absolute; background-image: url("../main_ico/page03_ico/rr_right_arrow_s.png"); z-index: 88; top: 0; right: 10px; }
.gg_box .gg_wrap .gg_lst li a:hover { background-color: #fec02f; }

/*pg4*/
.pg4 .part_box { width: 100%;  margin-top: 50px; position: relative;  }
.pg4 .part_box:before { content: ""; display: block;  width: 95%; ; height: 2px; position: absolute; top: 0; left: 0; background-color: #000; }
.pg4 .part_box h2.tit { width: 100%; line-height: 5.0; }
.pg4 .part_box .part_lst { width: 1100px; margin: 0 auto;}
.pg4 .part_box .part_lst li { float: left; width: 125px; height: 150px; margin-left: 30px }
.pg4 .part_box .part_lst li a { display: block; width: 100px; border-radius: 25px; height:80px ; padding-top: 20px; box-sizing: border-box; background-color: #f1f6fa; margin: 0 auto;  }
.pg4 .part_box .part_lst li a:hover{ background-color: #0051a3;  }

.pg4 .part_box .part_lst li  span { display: block; width: 100px;   text-align: center}
.pg4 .part_box .part_lst li a span.txt { display: block; width: 100px;  line-height: 4.0; color: #000; }
.pg4 .part_box .part_lst li a span.txt:hover {color:#0051a3; font-weight: 600; }
.pg4 .part_box .part_lst li.part03 a span.txt { width: 125px; margin-left: -10px }

.pg4 .part_box .part_lst li  span.img { height: 55px; background-repeat: no-repeat; background-position: center center;  }
.pg4 .part_box .part_lst .part01  span.img { background-image: url("../main_ico/page02_ico/01.budongsan.png"); }
.pg4 .part_box .part_lst .part02  span.img{ background-image: url("../main_ico/page02_ico/02.buildup.png");}
.pg4 .part_box .part_lst .part03  span.img{ background-image: url("../main_ico/page02_ico/03.give_data.png"); }
.pg4 .part_box .part_lst .part04  span.img{ background-image: url("../main_ico/page02_ico/04.news_po.png");}
.pg4 .part_box .part_lst .part05  span.img{ background-image: url("../main_ico/page02_ico/05.area_news.png");}
.pg4 .part_box .part_lst .part06 a span.img { background-image: url("../main_ico/page02_ico/06.law.png"); }
.pg4 .part_box .part_lst .part07 a span.img { background-image: url("../main_ico/page02_ico/07.gg_b.png");}

/* 새소식부분 */
.pg4 .new_box{ width: 100%; padding-top: 30px; }
.pg4 .new_box .t_hd { width: 100%; line-height: 4.0; height:96px; position: relative; padding-top: 10px;}

.pg4 .new_box .t_hd h2.tit { width: 70%; float:left ; padding-left: 10px; box-sizing: border-box; height:  96px;  }
.pg4 .new_box .t_hd a.more { display: block; width: 9%; float: right; height: 50px; line-height: 50px; position: relative; text-align: center; color: #aaa; margin-right: 60px; margin-top: 35px }

.pg4 .new_box .t_hd a.more:after { content:">"; display: block; position: absolute; top: 0; right: 8px; }
.pg4 .new_box .n_lst { width: 100%; }
.pg4 .new_box .n_lst li { float:left; width: 280px;  margin-right: 20px}
.pg4 .new_box .n_lst li a { display: block; width: 270px; margin: 0 auto; position:relative; }
.pg4 .new_box .n_lst li a:after { content: "";  display: block; width: 100px; height: 40px; position:absolute; left: 0; bottom: 100px; z-index: 88; line-height: 40px; text-align: center; color:#fff; }

.pg4 .new_box .n_lst li.it1 a:after { content: "공정경기"; background-color: #cb9000; }
.pg4 .new_box .n_lst li.it2 a:after { content: "희망경기"; background-color: #0094ff; }
.pg4 .new_box .n_lst li.it3 a:after { content: "행복경기"; background-color: #ff0064; }
.pg4 .new_box .n_lst li.it4 a:after { content: "함께경기"; background-color: #00881c; }
.pg4 .new_box .n_lst li.it5 a:after { content: "공정경기"; background-color: #cb9000; }
.pg4 .new_box .n_lst li.it6 a:after { content: "공정경기"; background-color: #cb9000; }
.pg4 .new_box .n_lst li.it7 a:after { content: "안전경기"; background-color: #ff4701; }
.pg4 .new_box .n_lst li.it8 a:after { content: "공정경기"; background-color: #cb9000; }



.pg4 .new_box .n_lst li a img { display: block; width: 280px; height:200px;  }


.pg4 .new_box .n_lst li a p.com { width: 100%; height: 100px; color: #000; line-height: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 18px}
.pg4 .new_box .n_lst li a p.com:hover { color: #0051a3; font-size: 20px; }

/*경기도 영상 */
.pg4 .da_box { width: 100%;  }
.pg4 .da_box section { margin-right: 18px}
.pg4 .da_box section.vd { width: 320px; float: left; }
.pg4 .da_box section h2.tit { line-height: 2.0; margin: 20px 0}
.pg4 .da_box section.vd a { display: block; width: 100%; color:#000; text-align: center; }
.pg4 .da_box section.vd a .img_wrap { width: 100%; height:180px; overflow: hidden ; position:relative; }
.pg4 .da_box section.vd a img { display: block; width: 320px; height: 180px; background-position: center center; position: absolute; left: 0; top: 0; background-size: cover; transition: 0.6s; }
.pg4 .da_box section.vd a img:hover {  transform: scale(1.5); }
.pg4 .da_box section.vd a p.com { font-size: 18px; line-height:  70px; height: 50px; }

/*경기 소식*/
.pg4 .da_box section.n_table { width: 480px; float: left; }
.pg4 .n_table .tb { width: 100%; display: table; border-collapse: collapse; }
.pg4 .n_table .tb tr { display: table-row; }
.pg4 .n_table .tb th,.pg4 .n_table .tb td { display: table-cell; font-size: 18px;  }
.pg4 .n_table .tb th a {  display: block; line-height: 2.2; padding: 0 5px; width: 80px; color: #000;  }

.pg4 .n_table .tb td a { display: block; line-height: 2.0;  width: 390px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;  color: #000; }
.pg4 .n_table .tb td a:hover { color: #0051a3; text-decoration: underline; }

.pg4 .da_box section.sns { width: 350px; float: left;  border-radius: 10px;  box-sizing: border-box;  }
.pg4 .da_box section.sns .tit { width: 50%;  float: left; box-sizing: border-box; padding-left: 10px}

  
.pg4 .sns_box { width: 100%; position:relative; } 
.pg4 .sns_box .s_lst { width: 346px; height: 232px; background-image: url("../SNS/guanghua_vdio.jpg"); background-position: center center ; background-size: cover ; }
.pg4 .sns_box  span.slog { display: block; width: 50%;  background-image: url(../SNS/sns_log.png); background-position: center center; background-repeat: no-repeat; float: right; height:48px; text-indent: -9999px; position: absolute; top: 0; right: 0; }

.pg4 .sns_box .s_lst li { float:left; width: 50px; margin-top: 100px; margin-left: 5px; background-color: rgba(255,255,255,0.5); border-radius: 25px; }
.pg4 .sns_box .s_lst li:hover { background-color:#fff; }

.pg4 .sns_box .s_lst li a { display: block;  width: 50px; text-indent: -99999px; height: 50px;  }

.pg4 .sns_box .s_lst li.it1 a { background-image: url(../SNS/in01.png); }
.pg4 .sns_box .s_lst li.it2 a{ background-image: url(../SNS/f01.png); }
.pg4 .sns_box .s_lst li.it3 a{ background-image: url(../SNS/t01.png); }
.pg4 .sns_box .s_lst li.it4 a{ background-image: url(../SNS/bl01.png); }
.pg4 .sns_box .s_lst li.it5 a{ background-image: url(../SNS/yt01.png); }
.pg4 .sns_box .s_lst li.it6 a{ background-image: url(../SNS/ka01.png); }
© 2021 GitHub, Inc.